<ion-view view-title="Contact us">
      
  <ion-content class="padding">
  <div class="det_cont">
      <img src="img/map.png"/>
        <p>
           Fill out all required fields to send a message.
            You have to login to your wordpress account to post any comment. Please don´t spam, thank you!
        </p>
   <form>
    <div class="list">
        <span>Name</span>
        <label class="item item-input">
           <input type="text" placeholder="Enter Your Name">
        </label>
       <span>Mail</span>
        <label class="item item-input">
           <input type="email" placeholder="Enter Your Email">
        </label>
        
        <span>Subject</span>
         <label class="item item-input">
           <input type="text" placeholder="Enter a Subject">
        </label>
        
       <span>Message</span> 
        <textarea class="item item-input" placeholder="Type Message Here" rows="4"></textarea>
        
      <button class="button button-block button-positive cont_btn">
      Send Message
      </button>
    </div>
   </form> 
      </div> 
  
  </ion-content>
</ion-view>
