<ion-view view-title="Details">
      
  <ion-content class="padding">
  <div class="det_cont">
      <img src="img/b1.png"/>
        <h3>New car arrivals on the last weekend</h3>
        <p class="date"><span>Posted On </span>September 21, 2015 /<span> By</span> Fida</p>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
            At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus  At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus  At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus
        </p>
        <h3>Comments</h3>
        <div class="comment_part">
        <div class="row">
         <div class="col col-25">
            <img src="img/man.png"/>
         </div>
         <div class="col">
           <h3>Mash<span>/ September 21, 2015</span></h3>
           <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
            At vero eos et accusam et justo duo dolores et ea rebum.</p>
            <button class="button">Reply</button>
         </div>
        </div>
        
         <div class="row">
         <div class="col col-25">
            <img src="img/man2.png"/>
         </div>
         <div class="col">
           <h3>Mash<span>/ September 21, 2015</span></h3>
           <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
            At vero eos et accusam et justo duo dolores et ea rebum.</p>
            <button class="button">Reply</button>
         </div>
        </div>
        
        </div>
        <h3>Add Your Comment</h3>
        <div class="comm_form">
          <div class="list">
            <label class="item item-input">
               <input type="text" placeholder="Username">
            </label>
           
            <label class="item item-input">
               <input type="password" placeholder="Password">
            </label>
            
            <textarea placeholder="Your Message" rows="3"></textarea>
            <button class="button">Submit</button>
          </div>
        </div>
        
  </div>
    
  </ion-content>
</ion-view>
